*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

main  {
    border: 2px solid black;
    height: 400px;
    width: 500px;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "header header"
    "aside main"
    "nav main"
    "footer footer";
}
main > * {
    display: grid;
    place-content: center;
    border: 2px solid;

}
header {background-color: plum; color: purple; border-color: purple; display: grid; grid-area: header;}
aside {background-color: skyblue; color: blue; border-color: blue; display: grid; grid-area: aside;}
nav {background-color: palevioletred; color: red; border-color: red; display: grid; grid-area: nav;}
section {background-color: rgb(240, 218, 177); color: orange; border-color: orange; display: grid; grid-area: main;}
footer {background-color: mediumaquamarine; color: green; border-color: green; display: grid; grid-area: footer;}
