*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: 2px solid black;
    height: 400px;
    width: 500px;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "header header"
    "aside main"
    "nav main"
    "footer footer";
}

.main-container header {
    background-color: plum;
    color: purple;
    border: 2px solid purple;
    display: grid;
    grid-area: header;
    place-content: center;
}
.main-container aside {
    background-color: skyblue;
    color: blue;
    border: 2px solid blue;
    display: grid;
    grid-area: aside;
    place-content: center;
}
.main-container nav {
    background-color: palevioletred;
    color: red;
    border: 2px solid red;
    display: grid;
    grid-area: nav;
    place-content: center;
}
.main-container main {
    background-color: rgb(240, 218, 177);
    color: orange;
    border: 2px solid orange;
    display: grid;
    grid-area: main;
    place-content: center;
}
.main-container footer {
    background-color: mediumaquamarine;
    color: green;
    border: 2px solid green;
    display: grid;
    grid-area: footer;
    place-content: center;
}